<div class="container" style="background-color: #FFF;">
	<h3><p class="text-center">{LANG_BAN_VIEW}</p></h3>
	<p class="text-center"><a href="ban.php?user_add">{LANG_BAN_ADMIN_ADD}</a></p>
	<p>{BAN_STATS}</p>
</div>
<div class="container">
	<table class="table table-hover">
		<tr valign="top" align="center">
			<td valign="middle" width="5%" height="30"><b>{LANG_BAN_ID}</b></td>
			<td valign="middle" width="20%"><b>{LANG_BAN_TIME}</b></td>
			<td valign="middle" width="20%"><b>{LANG_BAN_IP}</b></td>
			<td valign="middle" width="40%"><b>{LANG_BAN_WHERE}</b></td>
			<td valign="middle" width="15%"><b>{LANG_BAN_ADMIN}</b></td>
		</tr>
		{BAN_VIEWS}
	</table>
</div>
