<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="all">
body {
  background: url(templates/images/logo.png) 4.2em 4em no-repeat #fff;
  color: #000;
  border: 1px solid #bbb;
  margin: 3em;
  padding: 1em 1em 1em 200px;
}
</style>
</head>
<body>
<h1>Доступ до ресурсу блоковано</h1>
<p>Вашу IP адресу було додано до чорного списку.<br />Якщо ви вважеєте це неправильним, зв'яжіться з Адміністратором контролю доступу.</p>
<p><a href="index.php?team">Список адміністраторів</a></p>

</body>
</html>
