<div class="container">
	<h3><p class="text-center">{LANG_USER_ADMIN_CONFIG}</p></h3>
	<p class="text-center">
		<a onclick="skm_LockScreen()" class="btn btn-info" href="?phpinfo" role="button">PhpInfo</a> 
		<a onclick="skm_LockScreen()" class="btn btn-success" href="config.php?backup=do" role="button">{LANG_USER_DO_BACKUP}</a> 
		<a onclick="skm_LockScreen()" class="btn btn-danger" href="config.php?backup=do&send=email" role="button">{LANG_USER_DO_BACKUP_AND_SEND_MAIL}</a> 
	</p>
	<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<td align="right" width="50%">{LANG_ANONYMOUS_ALLOW}:</td>
			<td align="left" width="50%"><b>{ANONYMOUS_ALLOW}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_SITENAME}:</td>
			<td align="left"><b>{SITENAME}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_N_RAY}:</td>
			<td align="left"><b>{N_RAY}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_INDEX_MODULE_OUT}:</td>
			<td align="left"><b><kbd>{INDEX_MODULE}</kbd></b></td>
		</tr>
		<tr>
			<td align="right">{LANG_BACKUP_PLUS}:</td>
			<td align="left"><b><kbd>{BACKUP_PLUS}</kbd></b></td>
		</tr>					
		<tr>
			<td align="right">{LANG_BACKUP_LIMIT}:</td>
			<td align="left"><b>{BACKLIMIT}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_ZIP_EXTENSION}:</td>
			<td align="left"><b>{ZIP_EXTENSION}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_TIMEOUT_AUHT}:</td>
			<td align="left"><b>{TIMEOUT_AUHT}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_PAGE_LIMIT}:</td>
			<td align="left"><b>{PAGE_LIMIT_SERVER}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_MAX_PAGE_LIMIT}:</td>
			<td align="left"><b>{MAX_PAGE_LIMIT}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_LOGIN_CHOOSE}:</td>
			<td align="left"><b>{LOGIN_CHOOSE_ALLOW}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_YEAR_START}:</td>
			<td align="left"><b>{YEAR_START}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_REG_FILE}:</td>
			<td align="left"><b><kbd>{REG_FILE}</kbd></b></td>
		</tr>
		<tr>
			<td align="right">{LANG_FILE_SIZE}:</td>
			<td align="left"><b>{FILE_SIZE}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_CRON_BACKUP}:</td>
			<td align="left"><b><abbr title="{CRON_LAST} {CRON_BACKUP_LAST}">{CRON_BACKUP_TIMEOUT}</abbr></b></td>
		</tr>
		<tr>
			<td align="right">{LANG_CRON_BACKUP_ON_EMAIL}:</td>
			<td align="left"><b><abbr title="{CRON_LAST} {CRON_BACKUP_ON_EMAIL_LAST}">{CRON_BACKUP_ON_EMAIL_TIMEOUT}</abbr></b></td>
		</tr>
	</table>
	</div>
	<p class="text-center"><a onclick="skm_LockScreen()" class="btn btn-warning" href="config.php?edit" role="button">{LANG_CONFIG_EDIT}</a></p>
</div>
