<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="all">
body {
  background: url(templates/images/logo.jpg) 4.2em 4em no-repeat #fff;
  color: #000;
  border: 1px solid #bbb;
  margin: 3em;
  padding: 1em 1em 1em 200px;
}
</style>
</head>
<body>
<h1>Ой, трапилась помилка. Сервіс тимчасово не доступний.</h1>
<p>Зачекайте кілька хвилин та спробуйте оновити сторінку - <code>клавіша [F5]</code></p>
<p>Зв'язок з Адміністратором:</p>
<ul>
	<li>Прямий телефон: <b>(3427) 003</b></li>
	<li>Міський телефон: <b>(04731) 3-00-93</b></li>
</ul>
</body>
</html>