<div class="container">
	<a onclick="skm_LockScreen()" class="btn btn-primary btn-lg btn-block" href="jurnal_out.php" role="button">{LANG_JURNAL_OUT}</a>
	<a onclick="skm_LockScreen()" class="btn btn-default btn-lg btn-block" href="jurnal_out.php?search=do&blank=do" role="button">{LANG_JURNAL_BLANK_NAME}</a>
	<a onclick="skm_LockScreen()" class="btn btn-success btn-lg btn-block" href="jurnal_in.php" role="button">{LANG_JURNAL_IN}</a>
	<a onclick="skm_LockScreen()" class="btn btn-info btn-lg btn-block" href="jurnal_in_ep.php" role="button">{LANG_JURNAL_IN_EP}</a>
	<a onclick="skm_LockScreen()" class="btn btn-warning btn-lg btn-block" href="index.php?chat" role="button">{LANG_CHAT}</a>
</div>
