			<br />
			<fieldset>
				<table align="center" border="0">
					<tr>
						<td align="right"><a href="jurnal_in.php"><img src="templates/images/mail_in.png"></a></td>
						<td align="left"><a href="jurnal_in.php"><b>{LANG_JURNAL_IN}</b></a></td>
					</tr>
					<tr>
						<td align="right"><a href="jurnal_in_ep.php"><img src="templates/images/mail_in_ep.png"></td>
						<td align="left"><a href="jurnal_in_ep.php"><b>{LANG_JURNAL_IN_EP}</b></a></td>
					</tr>
					<tr>
						<td align="right"><a href="jurnal_out.php"><img src="templates/images/mail_out.png"></td>
						<td align="left"><a href="jurnal_out.php"><b>{LANG_JURNAL_OUT}</b></a></td>
					</tr>
					<tr>
						<td align="right"><a href="jurnal_out.php?blank=do"><img src="templates/images/mail_blank.png"></td>
						<td align="left"><a href="jurnal_out.php?blank=do"><b>{LANG_JURNAL_BLANK_NAME}</b></a></td>
					</tr>
				</table>
			</fieldset>
