			<br />
			<fieldset>
				<table border="0" align="center">
					<tbody>
						<tr>
							<td align="left"><font size="1" color="gray">{PAGE_GENERATION_TIME} {PAGE_QUERYES_NUM}<br />
								{TIMEOUT_SESSION_COUNTER}
								{LANG_COPYRIGHT}</font>
							</td>
							<td width="200" align="right">
								<a href="index.php?team">{LANG_ADMIN_TEAM}</a>
							</td>
							<td width="200" align="right">
								<a href="http://10.98.97.2/jurnal_ztp.php" target="_blank" >{LANG_REMARK_AND_SUGGESTIONS}</a>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</td>
	</tr>
</table>
<div id="skm_LockPane" class="LockOff"></div>
</body>
</html>