<div class="container">
<hr>
	<div class="pull-left">
		<p style="font-size: 10px;">{PAGE_GENERATION_TIME} {PAGE_QUERYES_NUM}<br>{TIMEOUT_SESSION_COUNTER} {LANG_COPYRIGHT}</p>
	</div>
	<div class="pull-right">
		<a class="btn btn-success btn-xs" href="index.php?team" role="button">{LANG_ADMIN_TEAM}</a> 
		<a class="btn btn-danger btn-xs" href="http://10.98.97.2/jurnal_ztp.php" target="_blank" role="button">{LANG_REMARK_AND_SUGGESTIONS}</a> 
		<a class="btn btn-primary btn-xs" href="https://github.com/valexnet/jurnal" target="_blank" role="button">GitHub</a>
	</div>
</div>
<div id="skm_LockPane" class="LockOff"></div>
<script src="templates/js/jquery-1.11.3.min.js"></script>
<script src="templates/js/bootstrap.min.js"></script>
</body>
</html>
