<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{META_REFRESH}
	<title>{LANG_HEADERINFO}</title>
	
	<link href="templates/css/bootstrap.min.css" rel="stylesheet">
	<link href="templates/css/bootstrap-theme.min.css" rel="stylesheet">
	<script type="text/javascript">
	// <![CDATA[
	function skm_LockScreen(str)
		{
			var lock = document.getElementById('skm_LockPane');
			if (lock)
			lock.className = 'LockOn';
			lock.innerHTML = '<h1><img src="templates/images/logo.png"><br /><font color="green">{LANG_YOUR_REQUEST_SEND}</font></h1>';
		}
	// ]]>
</script>
<style>
	.LockOff { display: none; visibility: hidden; }
	.LockOn { display: block; visibility: visible; position: absolute; z-index: 999; top: 0px; left: 0px; width: 105%; height: 105%; background-color: #fff; text-align: center; padding-top: 15%; }
</style>
</head>
<body>

<div class="container" style="margin-top: 10px;">
	<pre><div class="col-sm-7"><a href="/"><img src="templates/images/logo.png" border="0" align="left" style="margin-right: 20px;" /></a><h3><b>{LANG_HEADERINFO}</b> v<b>{VER_NUM}</b><br>{SITENAME}</h3>{LANG_AUTORISED_US} : <b>{USER_NAME}</b></div><div class="col-sm-5" style="margin-top: 35px;">{MENU}</div></pre>
</div>
