<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{META_REFRESH}
	<title>{LANG_HEADERINFO}</title>
	
	<link href="templates/css/bootstrap.min.css" rel="stylesheet">
	<link href="templates/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="templates/js/html5shiv.min.js"></script>
		<script src="templates/js/respond.min.js"></script>
	<![endif]-->
	
	<script type="text/javascript">
	// <![CDATA[
	function skm_LockScreen(str)
		{
			var lock = document.getElementById('skm_LockPane');
			if (lock)
			lock.className = 'LockOn';
			lock.innerHTML = '<h1><img src="templates/images/logo.png"><br /><font color="green">{LANG_YOUR_REQUEST_SEND}</font></h1>';
		}
	// ]]>
</script>
<style>
	.LockOff { display: none; visibility: hidden; }
	.LockOn { display: block; visibility: visible; position: absolute; z-index: 999; top: 0px; left: 0px; width: 105%; height: 105%; background-color: #fff; text-align: center; padding-top: 15%; }

	.affix { top: 0; width: 100%; }
	.affix + .container-fluid { padding-top: 70px; }
</style>
</head>
<body>
<div class="container text-center" style="margin-top: 10px;">
	<div class="panel panel-default">
		<table class="table">
			<tr>
				<td width="150">
					<a href="index.php"><img src="templates/images/logo.png"></a>
				</td>
				<td class="text-left" style="vertical-align: middle;">
					<p style="font-size: 18px;">
						<a href="index.php"><strong>{LANG_HEADERINFO}</strong> <span class="label label-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="{LANG_JUNAL_VER_TOOLTIP}">v.{VER_NUM}</span></a>
						<br>{SITENAME}
					</p>
					{SHOW_C_ANO}
					<p>
						<div class="dropdown">
							<a class="btn btn-default btn-sm" href="index.php">{LANG_HOME}</a>
							{PRE_MENU}
							{MENU}
							{AFT_MENU}
						</div>
					</p>
				</td>
				{REDIRECT_GIF}
			</tr>
		</table>
	</div>
	<hr>
</div>
