<div class="container">
	<div class="table-responsive">
	<table class="table table-hover">
		<tr valign="top" align="center">
			<td valign="middle" width="100"><b>{LANG_JURNAL_OUT_NUM}</b></td>
			<td valign="middle"><b>{LANG_JURNAL_OUT_BLANK_NUM}</b></td>
			<td valign="middle"><b>{LANG_JURNAL_OUT_HOW}</b></td>
			<td valign="middle"><b>{LANG_DATA}</b></td>
			<td valign="middle" align="left"><b>{LANG_JURNAL_SENDER}</b></td>
			<td valign="middle" align="left"><b>{LANG_JURNAL_TO}</b></td>
			<td valign="middle" align="left"><b>{LANG_OUT_TEMA}</b></td>
		</tr>
		{JURNAL_OUT}
	</table>
	</div>
	<form method="POST" action="jurnal_out.php">
	<p class="text-center">{JURNAL_OUT_STAT}, {LANG_USER_SET_LIMIT_PAGE} <INPUT TYPE="text" NAME="show_num_list" value="{PAGE_LIMIT}" size="2" /> {LANG_USER_SET_LIMIT_PAGE2}</p>
	</form>
</div>
