<div class="container">
	<h3><p class="text-center">{LANG_JURNAL_OUT_ADD_FORM}</p></h3>
	<FORM class="form-horizontal" ACTION="jurnal_out.php?add=do" METHOD="POST" NAME="form" enctype="multipart/form-data">
		<div class="form-group">
			<label for="data" class="col-sm-2 control-label">{LANG_DATA}</label>
			<div class="col-sm-4">
				<INPUT TYPE="hidden" NAME="data" value="{D-A-T-A}" />
				<input class="form-control" id="data" type="text" value="{D-A-T-A}" disabled />
			</div>
			<label for="user" class="col-sm-2 control-label">{LANG_OUT_ADD_FROM}</label>
			<div class="col-sm-4">
				<input class="form-control" id="user" NAME="user" type="text" value="{USER_NAME}" disabled />
			</div>
		</div>
		<div class="form-group">
			<label for="to" class="col-sm-2 control-label">{LANG_OUT_ADD_TO}</label>
			<div class="col-sm-10">
				<input id="to" NAME="to" value="{FORM_TO}" type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="to_num" class="col-sm-2 control-label">{LANG_OUT_ADD_TO_N}</label>
			<div class="col-sm-10">
				<input id="to_num" NAME="to_num" value="{FORM_TO_N}" type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="subj" class="col-sm-2 control-label">{LANG_OUT_TEMA}</label>
			<div class="col-sm-10">
				<input id="subj" NAME="subj" value="{FORM_SUBJ}" type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="subj" class="col-sm-2 control-label">{LANG_NOMENCLATURA}</label>
			<div class="col-sm-10">
				<SELECT NAME="nom" class="form-control">
					{NOMENCLATURA}
				</SELECT>
			</div>
		</div>
		<div class="form-group">
			<label for="subj" class="col-sm-2 control-label">{LANG_HOW}</label>
			<div class="col-sm-10">
				<p>
					<input type="radio" name="how" value="1" {FORM_HOW_1} /> {LANG_HOW_EP} |
					<input type="radio" name="how" value="2" {FORM_HOW_2} /> {LANG_HOW_NAR} |
					<input type="radio" name="how" value="3" {FORM_HOW_3} /> {LANG_HOW_SEND}
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" NAME="blank_n" value="1" {FORM_BLANK_N} /> {LANG_REGISTER_BLANK}
					</label>
				</div>
			</div>
		</div>
		<script>
			<!--
			function validate()
				{
					if (document.form.to.value == "") {alert("{LANG_FORM_NO_TO}"); return false;}
					if (document.form.subj.value == "") {alert("{LANG_FORM_NO_TEMA}"); return false;}
					if (document.form.nom.value == "") {alert("{LANG_FORM_NO_NOM}"); return false;}
					skm_LockScreen();
					return true;
				}
			//-->
		</script>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<INPUT TYPE="hidden" name="form_id" VALUE="{TIME_MD5}" />
				<button type="submit" class="btn btn-success" onclick="return validate();">{LANG_SEND_FORM}</button>
			</div>
		</div>
	</FORM>
</div>
