<div class="container">
	<h3><p class="text-center">{LANG_JURNAL_OUT_SEARCH_FORM}</p></h3>

	<FORM role="form" data-toggle="validator" ACTION="jurnal_in_ep.php" NAME="form" id="form" class="form-horizontal" METHOD="GET" enctype="multipart/form-data">
		<div class="form-group date">
			<label class="control-label col-sm-2" for="do">{LANG_JURNAL_OUT_FIND_ID}:</label>
			<div class="col-sm-2 has-feedback">
				<INPUT TYPE="hidden" NAME="do" value="search">
				<input type="text" class="form-control" NAME="id" id="id" value="" data-error="{LANG_FORM_NO_ID}" required> 
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
			<div class="col-sm-8">
				<button type="submit" class="btn btn-success">{LANG_START_SEARCH_ID}</button>
			</div>
		</div>
	</form>
	<hr>
	<FORM role="form" data-toggle="validator" ACTION="jurnal_in_ep.php" NAME="form" id="form" class="form-horizontal" METHOD="GET" enctype="multipart/form-data">
		<INPUT TYPE="hidden" NAME="do" value="search">

		<div class="form-group date">
			<label class="control-label col-sm-2" for="data_start">{LANG_DATA_START}:</label>
			<div class="col-sm-10 has-feedback">
				<input type="text" class="form-control" NAME="data_start" id="data_start" value="{FORM_DATA_START}" data-error="{LANG_FORM_NO_DATA_START}" required>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="data_end">{LANG_DATA_END}:</label>
			<div class="col-sm-10 has-feedback">
				<input type="text" class="form-control" NAME="data_end" id="data_end" value="{FORM_DATA_END}" data-error="{LANG_FORM_NO_DATA_END}" required>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="add_user">{LANG_ADD_USER}:</label>
			<div class="col-sm-10">
				<SELECT NAME="add_user" class="form-control" id="add_user">
					<option value="">{LANG_ALL_USERS}</option>
					{USERS}
				</SELECT>
			</div>
		</div>

		
		<div class="form-group">
			<label class="control-label col-sm-2" for="org_name">{LANG_ORG_NAME}:</label>
			<div class="col-sm-10 has-feedback">
				<input onkeyup="loadHelp('help_org_name', 'org_name', {USER_YEAR}, 'jurnal_in_ep', this.value)" autocomplete="off" type="text" NAME="org_name" class="form-control" id="org_name" value="">
				<div class="hidden" id="help_org_name"></div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="org_index">{LANG_ORG_INDEX}:</label>
			<div class="col-sm-10 has-feedback">
				<input type="text" NAME="org_index" class="form-control" id="org_index" value="" >
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="org_data">{LANG_ORG_DATA}:</label>
			<div class="col-sm-10 has-feedback">
				<input type="text" NAME="org_data" class="form-control" id="org_data" value="" >
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="org_subj">{LANG_ORG_SUBJ}:</label>
			<div class="col-sm-10 has-feedback">
				<input onkeyup="loadHelp('help_org_subj', 'org_subj', {USER_YEAR}, 'jurnal_in_ep', this.value)" autocomplete="off" type="text" NAME="org_subj" class="form-control" id="org_subj" value="" >
				<div class="hidden" id="help_org_subj"></div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="make_visa">{LANG_MAKE_VISA}:</label>
			<div class="col-sm-10 has-feedback">
				<input onkeyup="loadHelp('help_make_visa', 'make_visa', {USER_YEAR}, 'jurnal_in_ep', this.value)" autocomplete="off" type="text" NAME="make_visa" class="form-control" id="make_visa" value="" >
				<div class="hidden" id="help_make_visa"></div>
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="do_user">{LANG_DO_USER}:</label>
			<div class="col-sm-10 has-feedback">
				<SELECT NAME="do_user" class="form-control" id="do_user">
					<option value="">{LANG_ALL_USERS}</option>
					{USERS}
				</SELECT>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="make_data">{LANG_MAKE_DATA}:</label>
			<div class="col-sm-10 has-feedback">
				<input type="text" NAME="make_data" class="form-control" id="make_data" value="" >
				<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<label class="btn btn-default">
						<input type="radio" name="status" value="0" autocomplete="off" checked > {LANG_JURNAL_IN_STATUS_0}
				</label>
				<label class="btn btn-danger">
						<input type="radio" name="status" value="1" autocomplete="off"> {LANG_JURNAL_IN_STATUS_1}
				</label>
				<label class="btn btn-info">
						<input type="radio" name="status" value="2" autocomplete="off"> {LANG_JURNAL_IN_STATUS_2}
				</label>
				<label class="btn btn-success">
						<input type="radio" name="status" value="3" autocomplete="off"> {LANG_JURNAL_IN_STATUS_3}
				</label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<label class="btn btn-default">
						<input type="checkbox" name="export" value="do" autocomplete="off"> {LANG_EXPORT_TO_FILE}
				</label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">{LANG_START_SEARCH}</button>
			</div>
		</div>

	</FORM>
</div>
<script>
<!--
function loadHelp(a, b, c, d, e)
	{
		var xhttp;
		if (window.XMLHttpRequest)
			{
				xhttp = new XMLHttpRequest();
			}
			else
			{
				xhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
		xhttp.onreadystatechange = function()
			{
				if (xhttp.readyState == 4 && xhttp.status == 200)
					{
						if (xhttp.responseText.length > 100)
							{
								document.getElementById(a).innerHTML = xhttp.responseText;
								document.getElementById(a).className = 'col-sm-5 text-left dropdown clearfix open';
							}
							else
							{
								document.getElementById(a).innerHTML = '';
								document.getElementById(a).className = 'hidden';
							}
					}
			}
		xhttp.open("GET", "ajax.php?help=" + a + "&for=" + b + "&year=" + c + "&where=" + d + "&input=" + encodeURI(e), true);
		xhttp.send();
	}
//-->
</script>
