			<br />
			<fieldset>
			<h2>{LANG_JURNAL_OUT_ADD_FORM}</h2>
			<FORM ACTION="jurnal_out.php?add=do" METHOD="POST" NAME="form" enctype="multipart/form-data">
			<table border="0" cellspacing="2" align="center">
				<tr valign="middle">
					<td height="30" align="right"><b>{LANG_DATA}: </b></td>
					<td align="left">
						<INPUT TYPE="hidden" NAME="data" value="{D-A-T-A}" />
						<INPUT TYPE="text" SIZE="20" value="{D-A-T-A}" disabled />&nbsp;&nbsp;{LANG_DATA_MORE}</td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_OUT_ADD_FROM}: </b></td>
					<td align="left"><INPUT TYPE="text" NAME="user" value="{USER_NAME}" disabled /></td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_OUT_ADD_TO}: </b></td>
					<td align="left"><INPUT TYPE="text" NAME="to" SIZE="20" value="{FORM_TO}" style="background-color: #fcc;" />&nbsp;&nbsp;{LANG_TO_MORE}</td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_OUT_ADD_TO_N}: </b></td>
					<td align="left"><INPUT TYPE="text" NAME="to_num" SIZE="20" value="{FORM_TO_N}" />&nbsp;&nbsp;{LANG_TO_N_MORE}</td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_OUT_TEMA}: </b></td>
					<td align="left"><INPUT TYPE="text" NAME="subj" SIZE="40" value="{FORM_SUBJ}" MAXLENGTH="300" style="background-color: #fcc;" /></td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_NOMENCLATURA}: </b></td>
					<td align="left">
						<SELECT NAME="nom" style="background-color: #fcc;" >
							{NOMENCLATURA}
						</SELECT>
					</td>
				</tr>
				<!--
				<tr valign="middle" align="center">
					<td height="35" align="right"><b>{LANG_ADD_FILES}: </b></td>
					<td align="left"><input name="file[]" type="file" multiple="true" /></td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_SEND_MONEY}: </b></td>
					<td align="left"><INPUT TYPE="text" NAME="money" value="{FORM_MONEY}" SIZE="20" /></td>
				</tr>
				//-->
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_HOW}: </b></td>
					<td align="center">
						<input type="radio" name="how" value="1" {FORM_HOW_1} /> {LANG_HOW_EP} |
						<input type="radio" name="how" value="2" {FORM_HOW_2} /> {LANG_HOW_NAR} |
						<input type="radio" name="how" value="3" {FORM_HOW_3} /> {LANG_HOW_SEND}
					</td>
				</tr>
				<tr valign="middle" align="center">
					<td height="30" align="right"><b>{LANG_REGISTER_BLANK}: </b></td>
					<td align="left"><INPUT TYPE="checkbox" NAME="blank_n" value="1" {FORM_BLANK_N} /> {LANG_JURNAL_BLANK}</td>
				</tr>
			</table>
			<script>
				<!--
				function validate()
					{
						if (document.form.to.value == "") {alert("{LANG_FORM_NO_TO}"); return false;}
						if (document.form.subj.value == "") {alert("{LANG_FORM_NO_TEMA}"); return false;}
						if (document.form.nom.value == "") {alert("{LANG_FORM_NO_NOM}"); return false;}
						skm_LockScreen();
						return true;
					}
				//-->
			</script>
			<INPUT TYPE="hidden" name="form_id" VALUE="{TIME_MD5}" />
			<INPUT TYPE="submit" VALUE="{LANG_SEND_FORM}" onclick="return validate();" /><br /><br />
			</FORM>
			</fieldset>
