<div class="container" style="background-color: #FFF;">
	<h3><p class="text-center">{LANG_YEAR} {USER_YEAR}. {LANG_JURNAL_OUT}</p></h3>
	<form method="POST">
		<div class="col-sm-12 text-center">
			<a onclick="skm_LockScreen()" href="jurnal_out.php{JURNAL_OUT_PRE_LINK}"><img src="templates/images/home2.png"></a>
			<a href="jurnal_out.php?add=do&md5={MD5_FORM}#form"><img src="templates/images/add.png"></a>
			<a href="jurnal_out.php?src=do&md5={MD5_FORM}#form"><img src="templates/images/search2.png"></a>
			{LANG_YEAR}: <select NAME="show_year">{SELECT_YEARS}</select>
			<button type="submit" class="btn btn-primary btn-xs" onclick="skm_LockScreen()" >{LANG_YEAR_CHANGE}</button>
		</div>
	</form>
{JURNAL_OUT_TOP_STAT}
</div>
