			<br />
			<fieldset>
				<legend><b>{LANG_YEAR} {USER_YEAR}. {LANG_JURNAL_OUT}</b></legend>
				<table align="center" border="0">
					<tr>
						<td align="center"><a href="jurnal_out.php{JURNAL_OUT_PRE_LINK}"><img src="templates/images/home2.png"></a></td>
						<td align="center"><a href="jurnal_out.php{LIST_LEFT}"><img src="templates/images/left.png"></a></td>
						<td align="center"><a href="jurnal_out.php{LIST_RIGHT}"><img src="templates/images/right.png"></a></td>
						<td align="center"><a href="jurnal_out.php{LIST_END}"><img src="templates/images/end.png"></a></td>
						<td align="center"><a href="jurnal_out.php?add=do"><img src="templates/images/add.png"></a></td>
						<td align="center"><a href="jurnal_out.php?src=do"><img src="templates/images/search2.png"></a></td>
						<!-- <td align="center"><a href="jurnal_out.php?exp=do"><img src="templates/images/disk.png"></a></td> //-->
						<td align="center">
							<form method="POST" action="jurnal_out.php">
								{LANG_YEAR}: <select NAME="show_year">{SELECT_YEARS}</select>
								<INPUT TYPE="submit" VALUE="{LANG_YEAR_CHANGE}" onclick="return validate();" />
							</form>
						</td>
					</tr>
				</table>
			</fieldset>
