			<br />
			<fieldset>
				<b>{LANG_LOG_VIEW}</b><br /><br />
				{LOG_NAVY}<br />
				<table border="1" cellspacing="0" cellpadding="2" width="100%">
					<tr valign="top" align="center">
						<td valign="middle" width="20%"><b>{LANG_LOG_TIME}</b></td>
						<td valign="middle" width="20%"><b>{LANG_LOG_USER}</b></td>
						<td valign="middle" width="15%"><b>{LANG_LOG_IP}</b></td>
						<td valign="middle" width="45%"><b>{LANG_LOG_DO}</b></td>
					</tr>
					{LOG_VIEWS}
				</table><br />
				{LOG_NAVY}
			</fieldset>
