<div class="container" data-spy="affix" data-offset-top="170" style="background-color: #FFF;">
	<h3><p class="text-center">{LANG_LOG_VIEW}</p></h3>
	<form method="POST" action="loging.php">
		<p class="text-center">{NAVY} {LANG_USER_SET_LIMIT_PAGE} <INPUT TYPE="text" NAME="show_num_list" value="{PAGE_LIMIT}" size="2" /> {LANG_USER_SET_LIMIT_PAGE2}</p>
	</form>
</div>
<div class="container">
	<div class="table-responsive">
	<table class="table table-hover">
		<tr valign="top" align="center">
			<td valign="middle" width="20%"><b>{LANG_LOG_TIME}</b></td>
			<td valign="middle" width="20%"><b>{LANG_LOG_USER}</b></td>
			<td valign="middle" width="15%"><b>{LANG_LOG_IP}</b></td>
			<td valign="middle" width="45%"><b>{LANG_LOG_DO}</b></td>
		</tr>
		{LOG_VIEWS}
	</table>
	</div>
</div>
