<div class="container">
	<h3><p class="text-center">{LANG_STR}</p></h3>
	<p class="text-center">{LANG_STR_ADMIN_EDIT}</p>
	<FORM ACTION="?edit={ID}&save" METHOD="POST" class="form-horizontal" >
		<div class="form-group">
			<label for="index" class="col-sm-2 control-label">{LANG_STRUCTURA}</label>
			<div class="col-sm-6">
				<input id="index" NAME="index" value="{INDEX}" type="text" class="form-control" />
			</div>
			<label for="index" class="col-sm-4 control-label"><div class="pull-left">{LANG_NUM_PIDROZDIL_PO_NUM}</div></label>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">{LANG_DEPS_NAME}</label>
			<div class="col-sm-6">
				<input id="name" NAME="name" value="{NAME}" type="text" class="form-control" />
			</div>
			<label for="name" class="col-sm-4 control-label"><div class="pull-left">{LANG_NUM_NAME_PRIMER}</div></label>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">{LANG_SEND}</button>
			</div>
		</div>
	</form>
<div>
