			<br />
			<fieldset>
				<b>{LANG_STR}</b><br /><br />{LANG_STR_ADMIN_EDIT}<br /><br />
				<FORM ACTION="?edit={ID}&save" METHOD="POST">
				<table border="0" cellspacing="0" cellpadding="2" width="100%">
					<tr valign="middle">
						<td width="100" height="30" align="right"><b>{LANG_STRUCTURA}:&nbsp;&nbsp;&nbsp;</b></td>
						<td width="500" align="left"><INPUT TYPE="text" NAME="index" SIZE="20" MAXLENGTH="10" value="{INDEX}" />&nbsp;&nbsp;{LANG_NUM_PIDROZDIL_PO_NUM}.</td>
					</tr>
					<tr valign="middle" align="center">
						<td height="30" align="right"><b>{LANG_DEPS_NAME}:&nbsp;&nbsp;&nbsp;</b></td>
						<td align="left"><INPUT TYPE="text" NAME="name" SIZE="40" value="{NAME}" />&nbsp;&nbsp;{LANG_NUM_NAME_PRIMER}.</td>
					</tr>
				</table>
				<br /><INPUT TYPE="submit" VALUE="{LANG_SEND}" /><br />
				</FORM>
				<br />
			</fieldset>
