<div class="container">
	<h3><p class="text-center">{LANG_STR}</p></h3>
	<p class="text-center"><a href="?add">{LANG_STR_ADMIN_ADD}</a></p>
	<div class="table-responsive">
	<table class="table table-hover">
		<tr valign="top" align="center">
			<td valign="middle" width="10%"><b>{LANG_NOMENCLATURA}</b></td>
			<td valign="middle" width="25%"><b>{LANG_DEPS_NAME}</b></td>
			<td valign="middle" width="10%"><b>{LANG_STR_USER}</b></td>
			<td valign="middle" width="10%"><b>{LANG_STR_TIME}</b></td>
			<td valign="middle" width="10%"><b>{LANG_STR_DO}</b></td>
			<td valign="middle" width="5%"><b>{LANG_STR_ADMIN}</b></td>
		</tr>
		{STR_VIEWS}
	</table>
	</div>
	<p class="text-center">{STR_STATS}</p>
</div>
