			<br />
			<fieldset>
				<b>{LANG_STR}</b><br /><br /><a href="?add">{LANG_STR_ADMIN_ADD}</a><br /><br />
				<table border="1" cellspacing="0" cellpadding="2" width="100%">
					<tr valign="top" align="center">
						<td valign="middle" width="10%"><b>{LANG_NOMENCLATURA}</b></td>
						<td valign="middle" width="25%"><b>{LANG_DEPS_NAME}</b></td>
						<td valign="middle" width="10%"><b>{LANG_STR_USER}</b></td>
						<td valign="middle" width="10%"><b>{LANG_STR_TIME}</b></td>
						<td valign="middle" width="10%"><b>{LANG_STR_DO}</b></td>
						<td valign="middle" width="5%"><b>{LANG_STR_ADMIN}</b></td>
					</tr>
					{STR_VIEWS}
				</table>
				<br />{STR_STATS}
			</fieldset>
