<script type="text/javascript">
	time_diff = {TIMEOUT_AUHT};

	function countDown()
	{
		if (time_diff == 0)
			{
				clearInterval(timer1);
				document.getElementById('counter').innerHTML = '<font color="red">Сесія завершена!</font>';
				$('#SessionEnd').modal('show');
			}
			else
			{
				work_number = time_diff--;
				hours = Math.floor(work_number / 3600);
				work_number -= hours * 3600;
				minutes = Math.floor(work_number / 60);
				work_number -= minutes * 60;
				seconds = Math.floor(work_number % 60);
				hours = (hours < 10) ? "0"+hours : hours;
				minutes = (minutes < 10) ? "0"+minutes : minutes;
				seconds = (seconds < 10) ? "0"+seconds : seconds;
				values = [
					{LANG_TIMEOUT_MORE_THEN_HOUR}
					declOfNum(minutes, ["хвилина", "хвилини", "хвилин"]),
					declOfNum(seconds, ["секунда", "секунди", "секунд"])
				];
				document.getElementById('counter').innerHTML =  values.join(" ") + ".";
			}
	}

	function declOfNum(number, titles)
	{
		cases = [2, 0, 1, 1, 1, 2];
		return "<b>" + number + "</b> " + titles[ (number%100>4 && number%100<20)? 2 : cases[Math.min(number%10, 5)] ];
	}
	
	function check_new_rows()
	{
		var xhttp;
		if (window.XMLHttpRequest)
			{
				xhttp = new XMLHttpRequest();
			}
			else
			{
				xhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
		xhttp.onreadystatechange = function()
			{
				if (xhttp.readyState == 4 && xhttp.status == 200 && xhttp.responseText.length > 100)
					{
						document.getElementById('check_new_rows_html').innerHTML = xhttp.responseText;
						$('#check_new_rows').modal('show');
					}
			}
		xhttp.open("GET", "ajax.php?do=check_new_rows", true);
		xhttp.send();
	}
	
	function set_view_time()
	{
		$('#check_new_rows').modal('hide');
		var xhttp;
		if (window.XMLHttpRequest)
			{
				xhttp = new XMLHttpRequest();
			}
			else
			{
				xhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
		xhttp.onreadystatechange = function()
			{
				if (xhttp.readyState == 4 && xhttp.status == 200)
					{
						// Hi!
					}
			}
		xhttp.open("GET", "ajax.php?do=set_view", true);
		xhttp.send();
	}

var timer1 = setInterval("countDown()", 1000);
//var timer2 = setInterval("check_new_rows()", 15000);
{SHOW_CHECK_NEW_ROWS}
</script>{LANG_TIMER_TO_CLOSE_SESSION}
