<div class="container">
	<h3><p class="text-center">{LANG_USERHOME}</p></h3>
	<table class="table table-hover">
		<tr>
			<td align="right" width="50%">{LANG_USER_NAME}:&nbsp;&nbsp;</td>
			<td align="left" width="50%"><b>{USER_NAME}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_LOGIN}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_LOGIN}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_REGISTRATION}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_REGISTRATION}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_MAIL1}:&nbsp;&nbsp;</td>
			<td align="left"><b><a href="mailto:{USER_MAIL1}">{USER_MAIL1}</a></b></td>
		</tr>					<tr>
			<td align="right">{LANG_MAIL2}:&nbsp;&nbsp;</td>
			<td align="left"><b><a href="mailto:{USER_MAIL2}">{USER_MAIL2}</a></b></td>
		</tr>					<tr>
			<td align="right">{LANG_TEL1}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_TEL1}</b></td>
		</tr>					<tr>
			<td align="right">{LANG_TEL2}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_TEL2}</b></td>
		</tr>					<tr>
			<td align="right">{LANG_TEL3}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_TEL3}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_LANG}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_LANG}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_IP}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_IP}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_IP_C}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_IP_C}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_A_IP}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_A_IP}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_P_USER}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_USER}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_P_CONFIG}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_CONFIG}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_P_LOG}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_LOG}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_P_USERS}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_USERS}</b></td>
		</tr>
		<tr>
			<td align="right">{LANG_USER_P_IP}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_IP}</b></td>
		</tr>					
		<tr>
			<td align="right">{LANG_USER_P_MOD}:&nbsp;&nbsp;</td>
			<td align="left"><b>{USER_P_MOD}</b></td>
		</tr>					
	</table>
</div>
