			<br />
			<fieldset>
				<b>{LANG_USER_P_USERS}</b><br /><br /><a href="users.php?user_add">{LANG_USERS_ADMIN_ADD}</a><br /><br />
				<table border="1" cellspacing="0" cellpadding="2" width="100%">
					<tr valign="top" align="center">
						<td valign="middle" align="center" width="2%" height="30"><b>{LANG_USER_ID}</b></td>
						<td valign="middle" width="15%"><b>{LANG_USER_NAME}</b></td>
						<td valign="middle" width="15%"><b>{LANG_LOGIN}</b></td>
						<td valign="middle" width="15%"><b>{LANG_STRUCTURA}</b></td>
						<td valign="middle" width="15%"><b>{LANG_USER_TIME_ACTIVITY}</b></td>
						<td valign="middle" width="15%"><b>{LANG_USER_IP}</b></td>
						<td valign="middle" width="15%"><b>{LANG_USER_ACCESS}</b></td>
						<td valign="middle" width="15%"><b>{LANG_USER_ADMIN}</b></td>
					</tr>
					{USERS_VIEWS}
				</table>
				<br />{USER_STATS}
				<br />{USERS_P_AA}
			</fieldset>
