<div class="container">
	<h3><p class="text-center">{LANG_USER_LOGIN_IN}</p></h3>
	<FORM class="form-horizontal" ACTION="user.php?login" METHOD="POST" NAME="form" enctype="multipart/form-data">
		<div class="form-group">
			<label class="col-sm-4 control-label"><img src="templates/images/login.png" border="0"></label>
			<div class="col-sm-8">
				<div class="form-group">
					<label class="col-sm-2 control-label"><img src="templates/images/user.png" border="0" /> {LANG_LOGIN}</label>
					<div class="col-sm-10">
						{USERS_LIST}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"><img src="templates/images/key.png" border="0" /> {LANG_PASSWORD}</label>
					<div class="col-sm-6">
						<input type="password" name="pass" class="form-control" />
					</div>
					<label class="col-sm-4 control-label"><a href="#" onclick="alert('{LANG_SEND_TO_ADMIN}')">{LANG_I_LOST_PASSWORD}</a></label>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">{LANG_SEND}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
<div>
