			<br />
			<fieldset>
				<b>{LANG_CHANGE_PASSWORD}</b><br /><br />
				<form action="user.php?change_password" method="post">
				<table align="center" border="0">
					<tr>
						<td align="right">{LANG_USER_PASSWORD}:&nbsp;&nbsp;</td>
						<td><input type="password" name="user_password" /></td>
					</tr>
					<tr>
						<td align="right">{LANG_PASSWORD1}:&nbsp;&nbsp;</td>
						<td><input type="password" name="user_password1" /></td>
					</tr>
					<tr>
						<td align="right">{LANG_PASSWORD2}:&nbsp;&nbsp;</td>
						<td><input type="password" name="user_password2" /></td>
					</tr>
					<tr>
						<td align="right">&nbsp;</td>
						<td align="center"><input type="submit" value="{LANG_SEND}" /></td>
					</tr>
				</table></form>
			</fieldset>
			